form {
    margin-bottom: 0;
}

button,
.button,
input[type="submit"] {
    height: $size-small-btn;
    margin: 0;
    padding: 0 $size-padding-s ($size-padding-s * 2.5);
    border: none;

    font-family: $font;
    font-size: $font-size-m;
    line-height: $size-small-btn + 0.1;
    text-decoration: none;

    color: $col2;
    background: $col1;
    box-shadow: inset 0px -2px darken($col1,30%);

    &:hover {
        background-color: $col4;
        box-shadow: inset 0px -2px darken($col4,15%);
    }

    &:active {
        border-top: 1px solid transparent;
        background-color: darken($col4,15%);
        box-shadow: inset 0px -1px darken($col4,17%);
        background-clip: padding-box;
    }
}

#{$all-text-inputs},
textarea {
    margin-bottom: 0;
    border-radius: 0px;
    background: $col2;
    border: none;
    font-family: $font-body;

    &::-webkit-input-placeholder {
        color:    $col1 !important;
    }
    &:-moz-placeholder {
        color:    $col1 !important;
    }
    &::-moz-placeholder {
        color:    $col1 !important;
    }
    &:-ms-input-placeholder {
        color:    $col1 !important;
    }
}

#{$all-text-inputs} {
    height: $size-small-btn;
    height: $size-small-btn * 2;
}

textarea {
    padding-top: $size-small-btn / 2;
}