*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background: $col6;
}

body {
    position: absolute;
    top: 0;
    width: 100%;

    @include media(min-height $break-h-s min-width $break-l) {
        top: 5%;
    }

    @include media(min-height $break-h-m min-width $break-l) {
        top: 10%;
    }
}

.main {
    margin-top: 10px;

    @include media(min-height $break-h-s min-width $break-l) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @include media(min-height $break-h-m min-width $break-l) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @include media(min-height $break-h-l min-width $break-l) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.main__bio-mailgroup {
    @include clearfix;
    @include media($break-m) {
        @include span-columns(4);
    }

    @include media($break-l) {
        @include span-columns(12);
    }
}

.main__inwrap {

}

.outer-wrap,
.inner-wrap {
    width: 100%;
    position: relative;
}

.outer-wrap {
    overflow: hidden;
    background: $col1;
}

.inner-wrap {
    background: $col6;

    right: 0;
    @include transition (all 0.2s ease-in-out);
}

.nav-open .inner-wrap {
    right: $size-btn-sq + $size-padding-m-abs;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding: 2.5%;
    background: url(assets/img/fancybox_overlay.png) repeat;
    text-align: center;

    img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}

.lightbox__content {
    display: inline-block;
    position: relative;
    margin-top: -2.5%;
}

.lightbox__controls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -30px;
}

%lightbox__control {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    background-image: url(assets/img/arrow_sprite.png);
}

.lightbox__control--left,
.lightbox__control--right {
    @extend %lightbox__control;
}

.lightbox__control--left {
    left: 10px;
    background-position: left top;
}

.lightbox__control--left:hover {
    background-position: left bottom;
}

.lightbox__control--right {
    right: 10px;
    background-position: right top;
}

.lightbox__control--right:hover {
    background-position: right bottom;
}