body {
    color: $col2;
}

p {
    font-family: $font-body;
    font-size: $font-size-m-minus;
    line-height: $font-lineh-body;

    &:first-child {
        margin-top: 0;
    }

    a {
        border-bottom: 1px solid $col4;

        &:hover {
            text-decoration: none;
            border-bottom-color: $col1;
        }
    }

    @include media($break-l) {
        font-size: $font-size-m;
    }
}

a,
a:visited {
    font-family: $font-body;
    line-height: $font-lineh-body;
    color: $col2;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: $gutter / 2;
    font-family: $font;
}
