body {
    color: #fff;
    color: $col2;
}

p {
    font-family: $font-body;
    line-height: $font-lineh-body;

    a { /* increase inline clickable area */
        position: relative;
        padding: .5em;
        margin: -.5em;
        /* */
    }
}

a,
a:visited {
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: $gutter / 2;
    font-family: $font;
}
