body {
    font-family: $font;
    color: #fff;
}

p {
    a { /* increase inline clickable area */
        position: relative;
        padding: .5em;
        margin: -.5em;
        /* */
    }
}

a,
a:visited {
}
