.bio {
    margin-top: $gutter;
    padding: 0 5px;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    @include media($break-m) {
        padding-left: 0;
        margin-top: 0;
    }

    @include media($break-l) {
        @include span-columns(6);
        padding-left: 5px;
        margin-top: $gutter;
        margin-bottom: $gutter;
    }
}