.header-nav {
    position: absolute;
    right: -$size-btn-sq - $size-padding-m-abs;

    width: $size-btn-sq;

    li {
        @include ir;

        width: $size-btn-sq;

        background-color: $col1;
        background-repeat: no-repeat;
        background-position: center center;

        box-shadow: inset 0px -2px darken($col1,30%);

        &:hover {
            background-color: $col4;

            box-shadow: inset 0px -2px darken($col4,15%);
        }

        &:active {
            position: relative;
            top: 1px;
            background-color: darken($col4,15%);
            box-shadow: inset 0px -1px darken($col4,17%);
        }

        a {
            display: block;
            height: $size-btn-sq;
        }
    }

    @include media($break-s) {
        right: 0;
        width: auto;

        li {
            display: inline-block;
        }
    }
}

.header-nav__twitter {
    @extend .icon--twitter--light;
}

.header-nav__linkedin {
    @extend .icon--linkedin--light;
}

.header-nav .header-nav__message {
    @extend .icon--message--light;

    @include media($break-s) {
        display: none;
    }
}