.page-footer {
    padding: 10px 5px 0;
    border-top: 1px solid $col1;

    p {
        font-size: $font-size-s;
    }

    p,
    a {
        font-family: $font;
    }

    span {
        margin: 0 $size-padding-l;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @include media(min-height $break-h-s min-width $break-l) {
        padding-top: 20px;
    }

    @include media(min-height $break-h-m min-width $break-l) {
        padding-top: 40px;
    }

    @include media(min-height $break-h-l min-width $break-l) {
        padding-top: 60px;
    }
}

.page-footer__inwrap {
    @include outer-container;
}